$_000: #eceff1;
$_100: #cfd8dc;
$_200: #b0bec5;
$_300: #90a4ae;
$_400: #78909c;
$_500: #607d8b;
$_600: #546e7a;
$_700: #455a64;
$_800: #37474f;
$_900: #263238;


$lightest: $_200;
$lighter: $_300;
$light: $_400;
$normal: $_500;
$dark: $_600;
$darker: $_700;
$darkest: $_800;

$black: $_900;
$white: $_000;

$gutter: 25px;
$divider: $darkest;
