$primary-color-dark: #5d4037;
$primary-color: #795548;
$primary-color-light: #d7ccc8;
$primary-color-text: #fff;
$accent-color: #607d8b;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
