@import '../styles/mixins';
@import '../styles/variables';

@mixin control-button {
  @include button {
    @content
  }
  $button-size: 45px;
  text-align: center;
  width: $button-size;
  height: $button-size;
  display: inline-block;
  -webkit-app-region: no-drag;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  @include card-2();
  -webkit-app-region: drag;
  align-items: center;
  display: flex;
  height: 60px;
  padding: 0 $gutter;
  position: relative;
  z-index: 1;

  h1 {
    flex-grow: 1;
    font-size: 1.75em;
  }
}

.button {
  @include control-button;
}

.main {
  flex: 1;
  overflow: auto;
}

.controls {
  display: flex;
}

.appMenuContainer {
  position: relative;
}

.appMenuButton {
  align-items: center;
  @include control-button {
    display: flex;
  }

  & + input {
    display: none;

    &:checked ~ .appMenu {
      display: flex;
    }
  }
}

.appMenu {
  @include card-3;
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 10px 0;
  right: 0;
  top: 100%;

  button {
    @include button {
      display: flex;
      box-shadow: none;
    }
    align-items: center;
    text-align: left;
    white-space: nowrap;

    &:before {
      $icon-size: 1em;
      @include material-icon;
      color: $darker;
      content: '';
      display: inline-block;
      text-align: center;
      height: $icon-size;
      width: $icon-size;
      margin-right: 10px;
    }

    &.toggled:before {
      color: inherit;
      content: 'done';
    }

    &.sync:before {
      content: 'sync'
    }

    &.clear:before {
      content: 'clear'
    }
  }
}

