@import '../styles/mixins';
@import '../styles/variables';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  @include card-2();
  -webkit-app-region: drag;
  align-items: center;
  display: flex;
  height: 60px;
  padding: $gutter;
  position: relative;
  z-index: 1;

  h1 {
    flex-grow: 1;
    font-size: 1.75em;
  }
}

.button {
  @include button;
  -webkit-app-region: no-drag;
  margin-left: $gutter;
}

.main {
  flex: 1;
  overflow: auto;
}

.controls {
  display: flex;
  margin-left: $gutter;

  button {
    margin: 0;
    text-align: center;
    width: 45px;
    display: inline-block;
  }
}

.toggled {
  @include button;
  @include card--1;
  background-color: $dark;
  -webkit-app-region: no-drag;
}
