@import '../styles/mixins';
@import '../styles/variables';

.header {
  @include card-2(#f0f0f0);
  display: flex;
  left: 0;
  padding: $gutter;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  h1 {
    -webkit-app-region: drag;
    flex-grow: 1;
    font-size: 1.75em;
  }
}

.button {
  @include button;
  margin-left: $gutter;
}

.main {
  margin-top: 125px;
}

.controls {
  display: flex;
  margin-left: $gutter;

  button {
    margin: 0;
    text-align: center;
    width: 45px;
    display: inline-block;
  }
}

.toggled {
  @include button;
  @include card--1($primary-color-dark);
  color: $primary-color-text;
}
