@import '../styles/mixins';
@import '../styles/variables';

.game {
  @include card-1();
  display: flex;
  margin: $gutter;

  object {
    background-color: $primary-color-light;
    display: inline-block;
    height: 87px;
    margin-right: $gutter;
    text-align: center;
    width: 231px;

    img {
      height: 100%;
      width: auto;
    }
  }

  h2 {
    font-size: 1.5em;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
