@import '../styles/mixins';
@import '../styles/variables';

.form {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.formContainer {
  @include card-2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 25px;

  input[type=text] {
    @include input(350px);
    margin-bottom: $gutter;
    text-align: center;
  }
}

.buttonContainer {
  text-align: right;
}

.button {
  @include card-0;
  @include button;
}
